.scheme_page li a{
	color:black!important;
}
    #lightgallery img{
	border: 5px solid #eee;
	}
#block-honblechiefminister-2_blk{
	border: 1px solid #eee!important;
}
.page_about{
	border: 1px solid #eee;
    margin-top: -8px;
    padding: 10px;
}
.abt_li{
	    padding: 5px 0px 0px 20px!important;
}
.abt_li li{
		color:black!important;
}
.abt_li > li a{
	color:black!important;
}
.img-responsive{
	width:100%;
	height:auto;
}
/* .first_strip{ */
	/* height:40px; */
/* } */
.tp-right{
	    margin-top: 8px;
}
#plustext{
	    margin-top: -3px;
}
#minustext{
	  margin-top: -3px;
}
#minustext{
	  margin-top: -3px;
}
.header-mng{
	    margin: 0px 10px;
}
.main_mnu{
	padding:0px!important;
}
.navbar-inverse{
	    border-bottom: 2px solid black;
}
.first_strip{
	    height: 40px;
}
.time_txt{
    margin-top: 11px;
}
.minister1, .minister2, .minister3{
	width:100%;
}
.content-minister{
display: inline-block;
vertical-align: top;
padding: 16px 0 0 0;
}
#block-honblechiefminister-2 img, #block-honblechiefminister img {
    padding: 5px;
    background: #ccc;
    margin-bottom: 03px;
	max-height: 100px;
}
.content-minister p{
	font-size:12px;
}
.marquee-box {
    background-color: #e96d29;
    padding: 5px;
    color: black;
    line-height: 20px;
    padding-top: 11px;
	margin-bottom:10px;
	font-weight:bold;
	float:left;
	    border-top-left-radius: 50px;
		 border-left: 5px solid black;
}
#block-honblechiefminister-2_blk{
	border: 1px solid #e3e3e3!important;
	padding: 5px;
}
.minister-sec{
	    margin-top: 4px;
}
/* .about-us-block{ */
	/* border: 1px solid #e3e3e3; */
    /* padding: 20px; */
/* } */
.about_head {
    background-color: #ec6d2a;
    padding: 10px;
    border-top-left-radius: 50px;
    border-left: 5px solid black;
	font-size: 15px;
    height: 32px;

}
.right_mqu{
	    font-size: 15px;
	    background-color: #ec6d2a;
    padding: 10px;
    border-top-left-radius: 50px;
    border-left: 5px solid black;
	    height: 32px;
}
.board{
	    margin-left: 10px;
}
.new{
	    margin-left: 10px;
}
.abt_txt{	border: 1px solid #e3e3e3;
	margin-top: -8px;
	    padding: 15px;
}
.right_box{
	    padding: 0px!important;
}
.marqu1{
    border: 1px solid #e3e3e3;
	margin-top:-9px;
	    height: 200px;
}
.main-div{
	width:90%!important;
}
.marque_txt{
	padding-right: 0px!important;
	
}
.copyright-txt {
    background-color: #ea7327;
    line-height: 50px;
    color: white;
}
body {
    padding-bottom: 0px!important;
}
.ftr_div{
	padding:0px!important;
}
.ftr_links{
    background-color:#e4e4e4;
	padding:7px;
	}
.ftr_links a{
    background-color:#e4e4e4;
	padding:5px;
	color:black;
}
.logo_box{
    border: 1px solid #e3e3e3;
    margin-top: -9px;
    height: 267px;
}
#g_btn{
	float:right;
	margin-top:10px;
	background-color:#e96d29 !important;
}
.abt_txt {
height: 200px;	
}
.ftr-img{
	background-color: #ccc;
	padding: 5px;
}
@media(max-width:768px){
	.first_strip{
		    height: 75px;
	}
	.time_txt{
		 margin-left: 90px;
	}
	.marque_txt{
		    padding-right: 16px !important;
	}
	.about-us-block{
		  height: auto;
	}
	.abt_txt {
    border: 1px solid #e3e3e3;
    margin-top: -8px;
    padding: 15px;
    height: 790px!important;
}
#block-honblechiefminister-2_blk{
border:none!important;
    padding-left: 15px;
    padding-right: 15px;
}
.minister-sec{
border: 1px solid #e3e3e3!important;
}
.right_box{
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.rtbox{
	    margin-top: 126px;
}
.abt_txt_page{
height: auto!important;	
}
.abt_txt{
	height:auto!important;
	margin-bottom:10px;
	
}

}

/*-----Start CSS for laoder-------------*/
@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

@keyframes spinner-grow {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spinner-grow .75s linear infinite;
  animation: spinner-grow .75s linear infinite;
}



.loadingOne {
  position: absolute;
  z-index: 999;
  height: 3em;
  width: 3em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/*---End CSS for laoder-------------*/
